n8n/workflows/Supabase - insercion de trabajo.json
{
  "name": "Supabase - insercion de trabajo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9ea249ae-65f2-41c7-8d48-b628fde9bb86",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3b7eb437-1985-46cc-89d8-73d8b3b3f551",
      "name": "Webhook",
      "webhookId": "9ea249ae-65f2-41c7-8d48-b628fde9bb86"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "trabajos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('Webhook').item.json.body.titulo }}"
            },
            {
              "fieldId": "compania",
              "fieldValue": "={{ $('Webhook').item.json.body.compania }}"
            },
            {
              "fieldId": "ubicacion",
              "fieldValue": "={{ $('Webhook').item.json.body.ubicacion }}"
            },
            {
              "fieldId": "rango_salarial",
              "fieldValue": "={{ $('Webhook').item.json.body.rango_salarial }}"
            },
            {
              "fieldId": "descripcion",
              "fieldValue": "={{ $('Webhook').item.json.body.descripcion }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Webhook').item.json.body.url }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $('Webhook').item.json.body.estado }}"
            },
            {
              "fieldId": "fecha_creacion",
              "fieldValue": "={{ $('Webhook').item.json.body.fecha_creacion }}"
            },
            {
              "fieldId": "id_fuente",
              "fieldValue": "={{ $('Webhook').item.json.body.id_fuente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "61af067c-6895-4370-8d3e-3e81511018eb",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "dqmvb9MbxnVmLQpu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6201dbde-9847-4cc8-b2bf-c626e2836629",
              "name": "body.preguntas",
              "value": "={{ $('Webhook').item.json.body.preguntas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "7a155cba-4f00-4539-87be-97204eb41a0f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.preguntas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "3db4cdc4-4897-4b40-abfa-3ca87712741d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Y8vwrGZxcXljYp0c",
          "mode": "list",
          "cachedResultUrl": "/workflow/Y8vwrGZxcXljYp0c",
          "cachedResultName": "My Sub-Workflow 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_trabajo": 1,
            "tipo_pregunta": 1,
            "pregunta": "={{ $json.tipo }}",
            "respuesta_generada_ia": "={{ $json.tipo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_trabajo",
              "displayName": "id_trabajo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tipo_pregunta",
              "displayName": "tipo_pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "respuesta_generada_ia",
              "displayName": "respuesta_generada_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "8cd83160-7aa2-4188-b167-37075313e0b0",
      "name": "Call 'My Sub-Workflow 1'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Call 'My Sub-Workflow 1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2416e8b0-559e-4369-8c20-ecb89e6036d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b7481b6a82171e84207dff345801b328968f53f619a427091eea0c577d643fa"
  },
  "id": "bpKQeM0TcCNwlSJy",
  "tags": []
}